@import "reset";

.until {
  p {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 168%;
    text-align: center;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    padding: 10px 0;
    background-color: #fbfbfb;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 17px 25px;
  background-color: #fff;

  nav {
    ul {
      display: flex;
      gap: 40px;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
      letter-spacing: 0.175em;
      text-transform: uppercase;
    }
  }

  .nav-images {
    a {
      margin-left: 20px;
    }
  }
}

.section {
  display: flex;
  flex: 1;
  background-color: #000;

  .portion {
    h1 {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 130%;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      margin-bottom: 126px;
      margin-left: 80px;
      margin-top: 55px;
      color: #fff;
    }

    p {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 167.5%;
      margin-bottom: 80px;
      max-width: 600px;
      width: 100%;
      margin-left: 80px;
      color: #fff;
    }
  }
}

.dumbbells {
  display: flex;
  flex: 1;
  background-color: #000;

  .portion {
    order: 4;
    margin-top: 120px;

    p {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 167.5%;
      margin-bottom: 20px;
      max-width: 600px;
      width: 100%;
      margin-left: 80px;
      color: #fff;
      width: 400px;
    }

    .sed {
      max-width: 400px;
      width: 100%;
    }
  }

  .portion-1 {
    order: 1;
    margin-left: 80px;
  }
}

.perfect {
  display: flex;
  flex: 1;
  background-color: #000;
  padding-bottom: 80px;

  [alt="tren-2"] {
    margin-top: 160px;
  }

  h2 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 143%;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #ffffff;
    max-width: 517px;
    width: 100%;
    margin-left: 80px;
    margin-top: 260px;
  }
}

.menu {
  h2 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin-left: 40px;
    margin-top: 80px;
  }

  .cards {
    margin-top: 42px;
    margin-left: 40px;
    display: flex;
    flex: 1;
    gap: 16px;
    margin-right: 40px;

    .card-1 {
      h3 {
        font-family: "Oswald";
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 168%;
        letter-spacing: 0.16em;
        text-transform: uppercase;
        margin-top: 8px;
      }

      p {
        font-family: "Oswald";
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 168%;
        letter-spacing: 0.16em;
        text-transform: uppercase;
        color: #353535;
        margin-bottom: 94px;
      }

      .free {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 167.5%;
        background-color: #fff;
        padding: 4px 7px;
        position: absolute;
        margin-top: 8px;
        margin-left: 8px;
      }
    }
  }
}

footer {
  background-color: #f1f1f1;
  padding: 80px 204px 24px 155px;
  display: flex;

  p {
    position: absolute;
    font-size: 250px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 700;
    z-index: 9;
    transform: translateX(-210px);
  }

  .footer-icons {
    position: relative;
    z-index: 99;
    a {
      margin-right: 20px;
      i {
        opacity: 0.6;
      }
    }
  }

  h2 {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.165em;
    text-transform: uppercase;
    margin-bottom: 29px;
  }

  form {
    position: relative;
    z-index: 99;
    input {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #c4c4c4;
      padding-bottom: 16px;
      padding-right: 300px;
      margin-bottom: 28px;

      &::placeholder {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 141.8%;
        color: #000000;
        opacity: 0.5;
      }
    }

    i {
      cursor: pointer;
    }

    button {
      all: unset;
      transform: translateX(-20px);
    }
  }

  .lists {
    margin-left: 105px;
    display: flex;

    .list-2 {
      margin-left: 100px;
    }

    strong {
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      letter-spacing: 0.165em;
      text-transform: uppercase;
      color: #353535;
    }

    ul {
      list-style: none;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 167.5%;
      color: #7e7e7e;
      max-width: 144px;
      width: 100%;

      a {
        li {
          margin-top: 12px;
        }
      }
    }
  }
}

.copyright {
  background-color: #f1f1f1;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 167.5%;
  color: #c4c4c4;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 24px;
}
@import "responsive";
